{{ define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>To-Do App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/tailwind.css" />
</head>

<body class="mx-16">
    <nav class="flex items-center justify-between">
        <h1 class="text-5xl text-center mt-6 mb-10 uppercase font-bold">To-Do App</h1>
        <ul class="flex text-xl">
            <li class="mr-2"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <main>
        {{ template "page" . }}
    </main>
    <script src="/static/js/htmx.min.js"></script>
</body>

</html>
{{ end }}
